# Databases and MySQL

In [ ]:
# Setting Up
import mysql.connector
# if import fails, 'conda install mysql-connector-python' to install (from a conda prompt)
import pandas as pd

## Flight-Airplane-PassengerCount

In [ ]:
# read from csv
flights = pd.read_csv("../data/flights.csv", parse_dates=['DepDate', 'ArrDate'])
flights.head()

## People-Flight-Airplane

In [ ]:
# read from csv
passengers = pd.read_csv("../data/passengers.csv", parse_dates=['DepDate', 'ArrDate'])
passengers.head()

## Connecting to and querying the database

In [ ]:
# connect to the database
cnx = mysql.connector.connect(
    user="insy6500", 
    password="insy6500", 
    host="localhost", 
    database="insy6500"
    )
print ("Successfully connected....")

In [ ]:
# List the tables using a cursor object
print ("Tables:")
cursor = cnx.cursor()
# this is the SQL query
query = ("show tables")
cursor.execute(query)
for (db) in cursor:
    print ("\t{}".format(db[0]))
cursor.close()
print ("Database closed.")

In [ ]:
# Sample query to a Pandas datafram
qry = "select * from airplane"
print ("Query: {:}".format(qry))
pdPlanes = pd.read_sql(qry, cnx)
pdPlanes

In [ ]:
# Query to an anonymous dataframe
pd.read_sql("show tables", cnx)