# SKU List Data Structure Example

Consider the following list of SKUs (Stock Keeping Units) that are stored in a stockroom.  The information about each inlcudes the SKU (the identifier), the unit cost, the location (in the stockroom), and the quantity on-hand.

| SKU   | Cost  | Location | Qty |
| ----- | ----- | -------- | --- |
| A1004 | 3.45  | A104     | 12  |
| A1012 | 19.68 | A105     | 92  |
| B1638 | 33.14 | A106     | 2   |
| B1849 | 0.78  | A107     | 18  |
| C1098 | 1.29  | C204     | 1   |
| A2488 | 14.50 | C199     | 123 |
| C1120 | 8.42  | B221     | 331 |
| B2230 | 18.65 | B222     | 65  |

Below, we illustrate the use three different data structures to store the data and illustrate some basic querying of the data.

In [1]:
# Example 1
# A list of lists
inv0 = [
     ['A1004',  3.45, 'A104',  12]
    ,['A1012', 19.68, 'A105',  92]
    ,['B1638', 33.14, 'A106',   2]
    ,['B1849',  0.78, 'A107',  18]
    ,['C1098',  1.29, 'C204',   1]
    ,['A2488', 14.50, 'C199', 123]
    ,['C1120',  8.42, 'B221', 331]
    ,['B2230', 18.65, 'B222',  65]
]

In [2]:
# Show all items in the dataset
for r in inv0:
    print(r)

['A1004', 3.45, 'A104', 12]
['A1012', 19.68, 'A105', 92]
['B1638', 33.14, 'A106', 2]
['B1849', 0.78, 'A107', 18]
['C1098', 1.29, 'C204', 1]
['A2488', 14.5, 'C199', 123]
['C1120', 8.42, 'B221', 331]
['B2230', 18.65, 'B222', 65]

In [3]:
# List of all SKUs in the dataset
[r[0] for r in inv0]

['A1004', 'A1012', 'B1638', 'B1849', 'C1098', 'A2488', 'C1120', 'B2230']

In [4]:
# Total inventory value
sum([r[1]*r[3] for r in inv0])

7716.34

In [5]:
# On-hand inventory for SKU B1638
inv0[[r[0] for r in inv0].index('B1638')][3]

2

In [6]:
# Example 2
# A list of dictionaries
inv1 = [
     {'sku': 'A1004', 'cost':  3.45, 'location': 'A104', 'qty':  12}
    ,{'sku': 'A1012', 'cost': 19.68, 'location': 'A105', 'qty':  92}
    ,{'sku': 'B1638', 'cost': 33.14, 'location': 'A106', 'qty':   2}
    ,{'sku': 'B1849', 'cost':  0.78, 'location': 'A107', 'qty':  18}
    ,{'sku': 'C1098', 'cost':  1.29, 'location': 'C204', 'qty':   1}
    ,{'sku': 'A2488', 'cost': 14.50, 'location': 'C199', 'qty': 123}
    ,{'sku': 'C1120', 'cost':  8.42, 'location': 'B221', 'qty': 331}
    ,{'sku': 'B2230', 'cost': 18.65, 'location': 'B222', 'qty':  65}
]

In [7]:
# Show all items in the dataset
for r in inv1:
    print (r)

{'sku': 'A1004', 'cost': 3.45, 'location': 'A104', 'qty': 12}
{'sku': 'A1012', 'cost': 19.68, 'location': 'A105', 'qty': 92}
{'sku': 'B1638', 'cost': 33.14, 'location': 'A106', 'qty': 2}
{'sku': 'B1849', 'cost': 0.78, 'location': 'A107', 'qty': 18}
{'sku': 'C1098', 'cost': 1.29, 'location': 'C204', 'qty': 1}
{'sku': 'A2488', 'cost': 14.5, 'location': 'C199', 'qty': 123}
{'sku': 'C1120', 'cost': 8.42, 'location': 'B221', 'qty': 331}
{'sku': 'B2230', 'cost': 18.65, 'location': 'B222', 'qty': 65}

In [8]:
# List of all SKUs in the dataset
[r['sku'] for r in inv1]

['A1004', 'A1012', 'B1638', 'B1849', 'C1098', 'A2488', 'C1120', 'B2230']

In [9]:
# Total inventory value
sum([r['cost']*r['qty'] for r in inv1])

7716.34

In [10]:
# On-hand inventory for SKU B1638
sku = 'B1638'
inv1[[s['sku'] for s in inv1].index(sku)]['qty']

2

In [11]:
# Example 3
# A dictionary of lists
inv2 = {
     'A1004': [ 3.45, 'A104',  12]
    ,'A1012': [19.68, 'A105',  92]
    ,'B1638': [33.14, 'A106',   2]
    ,'B1849': [ 0.78, 'A107',  18]
    ,'C1098': [ 1.29, 'C204',   1]
    ,'A2488': [14.50, 'C199', 123]
    ,'C1120': [8.42,  'B221', 331]
    ,'B2230': [18.65, 'B222',  65]
}

In [12]:
# Show all items in the dataset
for k in inv2:
    print(k, inv2[k])

A1004 [3.45, 'A104', 12]
A1012 [19.68, 'A105', 92]
B1638 [33.14, 'A106', 2]
B1849 [0.78, 'A107', 18]
C1098 [1.29, 'C204', 1]
A2488 [14.5, 'C199', 123]
C1120 [8.42, 'B221', 331]
B2230 [18.65, 'B222', 65]

In [13]:
# List all SKUs in the dataset
list(inv2.keys())

['A1004', 'A1012', 'B1638', 'B1849', 'C1098', 'A2488', 'C1120', 'B2230']

In [14]:
# Total inventory value
sum([inv2[k][0]*inv2[k][2] for k in inv2])

7716.34

In [15]:
# On-hand inventory for SKU B1638
inv2['B1638'][2]

2